* h3{
    font-size: 24px;
    font-family:  'Arial' , sans-serif, 'Times New Roman', Times, serif;
}

.count {
    display: flex;
    margin: 25px;
    
}

.count h3 {
    padding-top: 40px;
}

#user-count {
    margin-left: 15%;
    margin-right: 25px;
}

#booking-count {
    margin-right: 15%;
    
}

#user-count , #booking-count {
    width: 35%;
    height: 250px;
    background: linear-gradient(to right, #0a67a3, #043366);
    border-radius: 25px;
    align-items: center;
    text-align: center;
    color: white    ;
}